node_modules
built

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*~
*.iml

# OS or Editor folders
.DS_Store
.cache
.project
.settings
nbproject
Thumbs.db
*.sublime-*
.tm_properties
*.swo
*.swp
*.vi
